#logo{
    width: 200px;
}
#correo, #clave{
    border: none;
}
#direccion{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
#horaAhora, #fechaHoy{
    border: none;
    background-color: rgba(240, 248, 255, 0);
}