.pacientes_link{
    color:#262322;
}
.pacientes_link:hover{
    color:#262322;
}
.label-frm{
    background-color: #ffe6e600;
    border: none;
    
}

#reloj, #fechaHoy{
    border: none;
}