<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Ginelife</title>
        <meta name='Ginelife: citas' content='width=device-width, initial-scale=1'>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- CSS -->
        <link rel='stylesheet' type='text/css' media='screen' href='public/CSS/Citas.css'>
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-color: #ffcccc;" onload="mueveReloj()">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-light p-0" style="background-color: #ffe6e6;">
			<div class="container-fluid">
                <!-- Logo -->
				<img src="https://ginelife-mx.herokuapp.com/public/IMG/Logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
				<div class="collapse navbar-collapse fw-bold" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Inicio nav. -->
						<li class="nav-item" id="inicio_n">
							<a class="nav-link active fs-4 text-center" style="width: 140px; height: 50px; color: #996600" href="/ginelife">Inicio</a>
						</li>
                        <!-- Citas nav. -->
						<li class="nav-item" id="citas_n">
							<a class="nav-link fs-4 text-center" aria-current="page" style="background-color: #ffcccc; width: 140px; height: 50px; text-align: center; color: #262322;">Citas</a>
						</li>
                        <!-- Pacientes nav. -->
						<li class="nav-item" id="pacientes_n">
							<a class="nav-link fs-4 text-center" href="/pacientes" style="width: 140px; height: 50px; color: #996600">Pacientes</a>
						</li>
					</ul>
                    <div class="col" >
                        <input id="fechaHoy" type="text" size="auto" style="text-align: center;" class="fw-bold fs-5" disabled>
                    </div>
                    <form name="form_reloj" class="col">
                        <input id="reloj" type="text" name="reloj" size="10" style="text-align: center;" class="fw-bold fs-5" disabled>
                    </form>
                    <!-- Botón para cerrar sesión -->
					<span class="navbar-text btn-lg btn-danger text-light" id="salir" type="button">
						<img src="https://ginelife-mx.herokuapp.com/public/IMG/Salir.png" alt="" width="35px">
					</span>
				</div>
			</div>
		</nav>
        <!-- Contenedor principal -->
        <div class="container-fluid">
            <!-- Hilo de Ariadna -->
            <div class="row">
                <a aria-current="page" class="text-decoration-none fw-bold fs-5" id="citas_link">Citas</a>
            </div>
            <!-- Contenedor del contenido de la página citas -->
            <div class="container-fluid text-center">
                <div class="row bg-gradient rounded-3">
                    <!-- Calendario: 7/12 del tamaño de la pantalla -->
                    <div class="col-7">
                        <div class="container-fluid">
                            <div class="row rounded-3 bg-gradient titulos">
                                <h4 class="fs-3">Agendar una cita</h4>
                            </div>
                            <div class="row rounded-3 bg-gradient titulos">
                                <div class="col-6">
                                    <select class="form-select" id="mes"></select>
                                </div>
                                <div class="col-3 fs-5">
                                    <input class="form-check-input align-middle" type="radio" name="turno" id="matutino" value="matutino" checked>
                                    <label class="form-check-label align-middle" for="matutino">
                                        Matutino
                                    </label>
                                </div>
                                <div class="col-3 fs-5">
                                    <input class="form-check-input align-middle" type="radio" name="turno" id="vespertino" value="vespertino">
                                    <label class="form-check-label align-middle" for="vespertino">
                                        Vespertino
                                    </label>
                                </div>
                            </div>
                            
                            <div class="container-fluid">
                                <!-- Calendario -->
                                <div class="row border border-1 mx-auto">
                                    <div class="col fs-5">
                                        <div class="row mx-auto" id="domingo">Domingo</div>
                                        <div class="row mx-auto fs-4 dia" id="1">-</div>
                                        <div class="row mx-auto fs-4 dia" id="8">-</div>
                                        <div class="row mx-auto fs-4 dia" id="15">-</div>
                                        <div class="row mx-auto fs-4 dia" id="22">-</div>
                                        <div class="row mx-auto fs-4 dia" id="29">-</div>
                                        <div class="row mx-auto fs-4 dia" id="36">-</div>
                                    </div>
                                    <div class="col fs-5">
                                        <div class="row mx-auto" id="lunes">Lunes</div>
                                        <div class="row mx-auto fs-4 dia" id="2">-</div>
                                        <div class="row mx-auto fs-4 dia" id="9">-</div>
                                        <div class="row mx-auto fs-4 dia" id="16">-</div>
                                        <div class="row mx-auto fs-4 dia" id="23">-</div>
                                        <div class="row mx-auto fs-4 dia" id="30">-</div>
                                        <div class="row mx-auto fs-4 dia" id="37">-</div>
                                    </div>
                                    <div class="col fs-5">
                                        <div class="row mx-auto" id="martes">Martes</div>
                                        <div class="row mx-auto fs-4 dia" id="3">-</div>
                                        <div class="row mx-auto fs-4 dia" id="10">-</div>
                                        <div class="row mx-auto fs-4 dia" id="17">-</div>
                                        <div class="row mx-auto fs-4 dia" id="24">-</div>
                                        <div class="row mx-auto fs-4 dia" id="31">-</div>
                                        <div class="row mx-auto fs-4 dia" id="38">-</div>
                                    </div>
                                    <div class="col fs-5">
                                        <div class="row mx-auto" id="miercoles">Miércoles</div>
                                        <div class="row mx-auto fs-4 dia" id="4">-</div>
                                        <div class="row mx-auto fs-4 dia" id="11">-</div>
                                        <div class="row mx-auto fs-4 dia" id="18">-</div>
                                        <div class="row mx-auto fs-4 dia" id="25">-</div>
                                        <div class="row mx-auto fs-4 dia" id="32">-</div>
                                        <div class="row mx-auto fs-4 dia" id="39">-</div>
                                    </div>
                                    <div class="col fs-5">
                                        <div class="row mx-auto" id="jueves">Jueves</div>
                                        <div class="row mx-auto fs-4 dia" id="5">-</div>
                                        <div class="row mx-auto fs-4 dia" id="12">-</div>
                                        <div class="row mx-auto fs-4 dia" id="19">-</div>
                                        <div class="row mx-auto fs-4 dia" id="26">-</div>
                                        <div class="row mx-auto fs-4 dia" id="33">-</div>
                                        <div class="row mx-auto fs-4 dia" id="40">-</div>
                                    </div>
                                    <div class="col fs-5">
                                        <div class="row mx-auto" id="viernes">Viernes</div>
                                        <div class="row mx-auto fs-4 dia" id="6">-</div>
                                        <div class="row mx-auto fs-4 dia" id="13">-</div>
                                        <div class="row mx-auto fs-4 dia" id="20">-</div>
                                        <div class="row mx-auto fs-4 dia" id="27">-</div>
                                        <div class="row mx-auto fs-4 dia" id="34">-</div>
                                        <div class="row mx-auto fs-4 dia" id="41">-</div>
                                    </div>
                                    <div class="col fs-5">
                                        <div class="row mx-auto" id="sabado">Sábado</div>
                                        <div class="row mx-auto fs-4 dia" id="7">-</div>
                                        <div class="row mx-auto fs-4 dia" id="14">-</div>
                                        <div class="row mx-auto fs-4 dia" id="21">-</div>
                                        <div class="row mx-auto fs-4 dia" id="28">-</div>
                                        <div class="row mx-auto fs-4 dia" id="35">-</div>
                                        <div class="row mx-auto fs-4 dia" id="42">-</div>
                                    </div>
                                </div>
                                <!-- Itinerario -->
                                <div class="row">
                                    <h3 id="itinerario_text">-</h3>
                                    <div class="row mx-auto">
                                        <div class="col border border-2 rounded-3 hr" id="1h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="2h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="3h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="4h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="5h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="6h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="7h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="8h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="9h">-</div>
                                        <div class="col border border-2 rounded-3 hr" id="10h">-</div>
                                    </div>
                                </div>
                                <!-- Botón para registrar cita -->
                                <div class="row p-2">
                                    <button type="button" class="btn btn-lg fw-bold" style="background-color: #6a6e6c; color: #262322;" id="agregar_cita">
                                        Agregar cita
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Eventos: 5/12 del tamaño de la pantalla -->
                    <div class="col-5">
                        <div class="container">
                            <div class="row rounded-3 bg-gradient titulos">
                                <h4 class="fs-3">Mis citas</h4>
                            </div>
                            <div class="row">
                                <select class="form-select" id="citas_select">
                                    <option value="hoy">Hoy</option>
                                    <option value="semana">Esta semana</option>
                                    <option value="mes">Este mes</option>
                                    <option value="año">Este año</option>
                                    <option value="canceladas">Canceladas</option>
                                </select>
                            </div>
                            <div class="row" style="overflow-y: scroll; height: 60vh;">
                                <div class="container" id="citasHoyC" style="display: block;">
                                    <p class="text-center fs-5 fw-bold">$fechaHoy</p>
                                    #if($citasHoy!="NO")
                                        #foreach($cita in $citasHoy)
                                            <div class="row p-1 m-1" style="background-color: #ffe6e6; box-shadow: 2px 2px 5px #000000; justify-content: center;">
                                                <div class="col-4">
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.nombre
                                                    </p>
                                                    <p class="text-center fw-bold fs-6 p-0 m-0">
                                                        $cita.fecha
                                                    </p>
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.hora
                                                    </p>
                                                </div>
                                                <div class="col-5">
                                                    <p class="text-center p-3 m-1">
                                                        $cita.descripcion
                                                    </p>
                                                </div>
                                                <div class="col">
                                                    <div class="row text-center p-1">
                                                        <button class="btn btn-danger" value="$cita.idCitas" id="$cita.idCitas" type="button" onclick="cancelarCita($cita.idCitas)">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>   
                                        #end
                                    #else
                                        <p class="text-center fs-4">
                                            Sin citas registradas para el dia de hoy.
                                        </p>
                                    #end
                                </div>
                                <div class="container" id="citasSemanaC"  style="display: none;">
                                    <p class="text-center fs-5 fw-bold">$fechasSemana</p>
                                    #if($citasSemana!="NO")
                                        #foreach($cita in $citasSemana)
                                            <div class="row p-1 m-1" style="background-color: #ffe6e6; box-shadow: 2px 2px 5px #000000; justify-content: center;">
                                                <div class="col-4">
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.nombre
                                                    </p>
                                                    <p class="text-center fw-bold fs-6 p-0 m-0">
                                                        $cita.fecha
                                                    </p>
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.hora
                                                    </p>
                                                </div>
                                                <div class="col-5">
                                                    <p class="text-center p-3 m-1">
                                                        $cita.descripcion
                                                    </p>
                                                </div>
                                                <div class="col">
                                                    <div class="row text-center p-1">
                                                        <button class="btn btn-danger" value="$cita.idCitas" id="$cita.idCitas" type="button" onclick="cancelarCita($cita.idCitas)">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>   
                                        #end
                                    #else
                                        <p class="text-center fs-4">
                                            Sin citas registradas para esta semana.
                                        </p>
                                    #end
                                </div>
                                <div class="container" id="citasMesC"  style="display: none;">
                                    <p class="text-center fs-5 fw-bold">$fechasMes</p>
                                    #if($citasMes!="NO")
                                        #foreach($cita in $citasMes)
                                            <div class="row p-1 m-1" style="background-color: #ffe6e6; box-shadow: 2px 2px 5px #000000; justify-content: center;">
                                                <div class="col-4">
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.nombre
                                                    </p>
                                                    <p class="text-center fw-bold fs-6 p-0 m-0">
                                                        $cita.fecha
                                                    </p>
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.hora
                                                    </p>
                                                </div>
                                                <div class="col-5">
                                                    <p class="text-center p-3 m-1">
                                                        $cita.descripcion
                                                    </p>
                                                </div>
                                                <div class="col">
                                                    <div class="row text-center p-1">
                                                        <button class="btn btn-danger" value="$cita.idCitas" id="$cita.idCitas" type="button" onclick="cancelarCita($cita.idCitas)">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>   
                                        #end
                                    #else
                                        <p class="text-center fs-4">
                                            Sin citas registradas para este mes.
                                        </p>
                                    #end
                                </div>
                                <div class="container" id="citasYearC"  style="display: none;">
                                    <p class="text-center fs-5 fw-bold">$fechasYear</p>
                                    #if($citasYear!="NO")
                                        #foreach($cita in $citasYear)
                                            <div class="row p-1 m-1" style="background-color: #ffe6e6; box-shadow: 2px 2px 5px #000000; justify-content: center;">
                                                <div class="col-4">
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.nombre
                                                    </p>
                                                    <p class="text-center fw-bold fs-6 p-0 m-0">
                                                        $cita.fecha
                                                    </p>
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.hora
                                                    </p>
                                                </div>
                                                <div class="col-5">
                                                    <p class="text-center p-3 m-1">
                                                        $cita.descripcion
                                                    </p>
                                                </div>
                                                <div class="col">
                                                    <div class="row text-center p-1">
                                                        <button class="btn btn-danger" value="$cita.idCitas" id="$cita.idCitas" type="button" onclick="cancelarCita($cita.idCitas)">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>   
                                        #end
                                    #else
                                        <p class="text-center fs-4">
                                            Sin citas registradas para este año.
                                        </p>
                                    #end
                                </div>
                                <div class="container" id="canceladasC"  style="display: none;">
                                    #if($citasCanceladas!="NO")
                                        #foreach($cita in $citasCanceladas)
                                            <div class="row p-1 m-1" style="background-color: #ffe6e6; box-shadow: 2px 2px 5px red; justify-content: center;">
                                                <div class="col-4">
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.nombre
                                                    </p>
                                                    <p class="text-center fw-bold fs-6 p-0 m-0">
                                                        $cita.fecha
                                                    </p>
                                                    <p class="text-center fs-6 p-0 m-0">
                                                        $cita.hora
                                                    </p>
                                                </div>
                                                <div class="col-5">
                                                    <p class="text-center p-3 m-1">
                                                        $cita.descripcion
                                                    </p>
                                                </div>
                                                <div class="col">
                                                </div>
                                            </div>   
                                        #end
                                    #else
                                        <p class="text-center fs-4">
                                            Sin citas canceladas.
                                        </p>
                                    #end
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center mt-auto" style="background-color: #ffe6e6; height: 50px;">
            <p>Bosques de África #144-A, Colonia Bosques de Aragón<br>
            Nezahualcóyotl, Estado de México</p>
        </footer>
        <!-- The Modal -->
				<div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                      <h2>Registrar una cita</h2>
                      <p id="fecha"></p>
                      <br>
                      <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nombre: </span>
                            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" id="nombre" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                            <span class="input-group-text">Descripción:</span>
                            <textarea class="form-control" aria-label="With textarea" id="descripcion"></textarea>
                      </div>
                      <br>
                      <p id="msgModal"></p>
                      <br>
                      <div class="row">
                            <button type="button" class="btn btn-success col" id="crearCita">Crear cita</button>
                          <button type="button" class="btn btn-danger col close">Cancelar</button>
                      </div>
                    </div>
              </div>
        <script src='https://ginelife-mx.herokuapp.com/public/JS/Citas.js'></script>
        <script src='https://ginelife-mx.herokuapp.com/public/JS/CerrarSesion.js'></script>
        <script src='https://ginelife-mx.herokuapp.com/public/JS/Reloj.js'></script>
        <script src='https://ginelife-mx.herokuapp.com/public/JS/Fecha.js'></script>
        <script src='https://ginelife-mx.herokuapp.com/public/JS/CancelarCita.js'></script>
        <script src='https://ginelife-mx.herokuapp.com/public/JS/Citas/FiltroCitas.js'></script>
    </body>
    