<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>$paciente.apellidoPaterno $paciente.apellidoMaterno $paciente.nombres - Exploración física</title>
        <meta name='$paciente.apellidoPaterno $paciente.apellidoMaterno $paciente.nombres - Exploración física' content='width=device-width, initial-scale=1'>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- CSS -->
        <link rel='stylesheet' type='text/css' media='screen' href='https://ginelife-mx.herokuapp.com/public/CSS/HistoriaClinica.css'>
        <link rel='stylesheet' type='text/css' media='print' href='https://ginelife-mx.herokuapp.com/public/CSS/HistoriaClinicaPrint.css'>
    </head>
    <body class="d-flex flex-column min-vh-100" onload="mueveReloj()" id="body_page">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-light p-0" style="background-color: #ffe6e6;" id="nav_bar">
			<div class="container-fluid">
                <!-- Logo -->
				<img src="https://ginelife-mx.herokuapp.com/public/IMG/Logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
				<div class="collapse navbar-collapse fw-bold" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 col">
                        <!-- Inicio nav. -->
						<li class="nav-item" id="inicio_n">
							<a class="nav-link active fs-4 text-center" style="width: 140px; height: 50px; color: #996600" href="/ginelife">Inicio</a>
						</li>
                        <!-- Citas nav. -->
						<li class="nav-item" id="citas_n">
							<a class="nav-link fs-4 text-center" style="width: 140px; height: 50px; color: #996600" href="/citas">Citas</a>
						</li>
                        <!-- Pacientes nav. -->
						<li class="nav-item" id="pacientes_n">
							<a class="nav-link fs-4 text-center"href="/pacientes" style="background-color: #ffcccc; width: 140px; height: 50px; text-align: center; color: #262322;">Pacientes</a>
						</li>
					</ul>
                    <div class="col" >
                        <input id="fechaHoy" type="text" size="auto" style="text-align: center;" class="fw-bold fs-5" disabled>
                    </div>
                    <form name="form_reloj" class="col">
                        <input id="horaAhora" type="text" name="reloj" size="10" style="text-align: center;" class="fw-bold fs-5" disabled>
                    </form>
                    <!-- Botón para cerrar sesión -->
					<span class="navbar-text btn-danger text-light p-2 rounded-2" id="salir" type="button">
						<img src="https://ginelife-mx.herokuapp.com/public/IMG/Salir.png" alt="" width="35px">
					</span>
				</div>
			</div>
		</nav>
        <div class="container-fluid">
            <!-- Hilo de Ariadna -->
            <div class="row" id="info_div">
                <div class="col-9">
                    <span><a class="text-decoration-none fs-5 pacientes_link" href="/pacientes">Pacientes></a></span>
                    <span><a href=/paciente/$paciente.idPaciente class="text-decoration-none fs-5 pacientes_link">$paciente.nombres $paciente.apellidoPaterno $paciente.apellidoMaterno></a></span>
                    <span><a aria-current="page" class="text-decoration-none fw-bold fs-5 pacientes_link">Historia clínica</a></span>
                </div>
                <div class="col-3 text-center fs-5 p-0 m-0">
                    <p>Dra. $ginecologa.nombres $ginecologa.apellidoPaterno $ginecologa.apellidoMaterno</p>
                </div>
            </div>
            <div class="container-fluid text-center" id="divImprimir">
                <div class="row rounded-pill bg-gradient" style="background-color: #ffe6e6;">
                    <div class="col-1">
                        <img src="https://ginelife-mx.herokuapp.com/public/IMG/Logo.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
                    </div>
                    <p class="fs-1 fw-bold text-dark text-center col-10 p-0 m-0">
                        Exploración física
                    </p>
                    <div class="col-1">
                        <img src="https://ginelife-mx.herokuapp.com/public/IMG/unam.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
                    </div>
                </div>
                <div class="row" id="EF">
                    <div class="m-1">
                        <div class="row">
                             <div class="col-3">
                                <p class="text-center fs-6">Fecha: <strong>$EF.fecha</strong></p>
                            </div>
                            <div class="col-3">
                                <p class="text-center fs-6">Hora: <strong>$EF.hora</strong></p>
                            </div>
                            <div class="col">
                                <p class="text-center fs-6">Paciente: <strong>$paciente.nombres $paciente.apellidoPaterno $paciente.apellidoMaterno</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="m-1">
                        <div class="row">
                            <div class="col-5">
                                <p class="fs-6 text-center"><strong>Lugar de nacimiento: </strong> $paciente.ciudadDeNacimiento, $paciente.entidadDeNacimiento </p>
                            </div>
                            <div class="col">
                                <p class="fs-6  text-center"><strong>Fecha de nacimiento:</strong> $paciente.fechaDeNacimiento ($paciente.edad años)</p>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <p class="fs-6"><strong>Estado civil: </strong>$paciente.estadoCivil</p>
                            </div>
                            <div class="col text-center">
                                <p class="fs-6"><strong>Ocupación: </strong>$paciente.ocupacion</p>
                            </div>
                            <div class="col text-center">
                                <p class="fs-6"><strong>Escolaridad: </strong>$paciente.escolaridad</p>
                            </div>
                        </div>
                    </div>
                    <div class="m-1">
                        <div class="row rounded-pill bg-gradient" style="background-color: #ffe6e6;">
                            <p class="fs-5 fw-bold text-dark text-center p-0 m-0">
                                Datos generales
                            </p>
                        </div>
                         <div class="row">
                            <div class="col">
                                <p class="text-start fs-6">Consciente: <strong>#if($EF.consciente==1)
                                    SI
                                #else
                                    NO
                                #end</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Habitus: <strong>$EF.habitus</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Peso: <strong>$EF.peso Kg.</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Estatura: <strong>$EF.estatura cm.</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-start fs-6">T. A. <strong>$EF.ta mm Hg.</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">F. C. <strong>$EF.fc por min.</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">F. R. <strong>$EF.fr por min.</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Temperatura: <strong>$EF.temperatura °C</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="m-1">
                            <div class="row rounded-pill bg-gradient" style="background-color: #ffe6e6;">
                                <p class="fs-5 fw-bold text-dark text-center p-0 m-0">
                                    Áreas relevantes
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-3 text-end">
                                    <p class="text-start fs-6">Pulmones: <strong>#if($EF.pulmones==1)
                                        Normal
                                    #else
                                        Anormal
                                    #end</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Nota: <strong>$EF.pulmones_nota</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3  text-end">
                                    <p class="text-start fs-6">Corazón: <strong>#if($EF.corazon==1)
                                        Normal
                                    #else
                                        Anormal
                                    #end</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Nota: <strong>$EF.corazon_nota</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-end">
                                    <p class="text-start fs-6">Cabeza: <strong>#if($EF.cabeza==1)
                                        Normal
                                    #else
                                        Anormal
                                    #end</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Nota: <strong>$EF.cabeza_nota</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-end">
                                    <p class="text-start fs-6">Cuello: <strong>#if($EF.cuello==1)
                                        Normal
                                    #else
                                        Anormal
                                    #end</strong></p>
                                </div>
                                <div class="col">
                                    <p class="text-start fs-6">Nota: <strong>$EF.cuello_nota</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="m-1">
                            <div class="row rounded-pill bg-gradient" style="background-color: #ffe6e6;">
                                <p class="fs-5 fw-bold text-dark text-center p-0 m-0">
                                    Estudios de laboratorio
                                </p>
                            </div>
                            #if($EL!="NO")
                                <div class="container-fluid" id="analisisLaboratorio_container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center fs-6">Gpo. sanguíneo: <strong>$EL.grupoSanguineo</strong> </p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">RH: <strong>$EL.rh</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">Hemoglobina: <strong>$EL.hemoglobina g/dL</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">Hematocrito: <strong>$EL.hematrocito %</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">Leucocitos: <strong>$EL.leucocitos</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center fs-6">Plaquetas: <strong>$EL.plaquetas</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">T: P <strong>$EL.tp</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">T.P.T.: <strong>$EL.tpt</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">Glucosa: <strong>$EL.glucosa mg/dL</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center fs-6">VDRL: <strong>$EL.vdrl</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-center fs-6">HIV: <strong>$EL.antihiv</strong></p>
                                        </div>
                                    </div>
                                </div>
                            #else
                                <p class="text-center fs-6">No hay estudios de laboratorio registrados.</p>
                            #end
                        </div>
                        <div class="m-1">
                            <div class="row rounded-pill bg-gradient" style="background-color: #ffe6e6;">
                                <p class="fs-5 fw-bold text-dark text-center p-0 m-0">
                                    Conclusiones
                                </p>
                            </div>
                            <p class="text-center fs-6 fw-bold"></p>
                            <div class="row">
                                <div class="col">
                                    <p class="text-center fs-6">Pronóstico: <strong>$EF.pronostico</strong> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-center fs-6">Plan de manejo: <strong>$EF.plan</strong> </p>
                                </div>
                            </div>
                        </div>
                        <div id="datosDoctora_div">
                            <br>
                            <br>
                            <p class="text-center">_______________________________________</p>
                            <p class="text-center">Dra. $ginecologa.nombres $ginecologa.apellidoPaterno $ginecologa.apellidoMaterno</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="buttons_div">
                <div class="col text-center">
                    <button class="btn fw-bold btn-danger" id="btn_cancelar" type="button" onclick="verPaciente($paciente.idPaciente)">Cancelar</button>
                </div>
                <div class="col text-center">
                    <button class="btn fw-bold text-light" id="btnImprimir" type="button" style="background-color: #20FC8F;">Imprimir</button>
                </div>
            </div>
        </div>
        <footer class="text-center mt-auto" style="background-color: #ffe6e6; height: 50px;" id="pie_div">
            <p>Bosques de África #144-A, Colonia Bosques de Aragón<br>
            Nezahualcóyotl, Estado de México</p>
        </footer>
    </body>
    <script src='https://ginelife-mx.herokuapp.com/public/JS/HistoriaClinica.js'></script>
    <script src='https://ginelife-mx.herokuapp.com/public/JS/Imprimir.js'></script>
    <script src='https://ginelife-mx.herokuapp.com/public/JS/CerrarSesion.js'></script>
    <script src='https://ginelife-mx.herokuapp.com/public/JS/Reloj.js'></script>
    <script src='https://ginelife-mx.herokuapp.com/public/JS/Fecha.js'></script>
</html>