<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Bienvenido a GINELIFE</title>
        <meta name='LOGIN' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='public/CSS/Main.css'>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        </head>
    <body>
        <h1 id="titulo">GINELIFE</h1>
        
        <div id="datos">
            <h3>Bienvenida<br>Dra. $nombres $apellidos</h3>
            <h5>Cédula profesional: $cedulaProfesional <br> Cédula especialista: $cedulaEspecialista</h5>
            <div id="fecha"></div>
            #if($citasNo=="No hay citas registradas.")
                <p>$citasNo</p>
            #end
        </div>
        <br><br>
        <div id="botones">
            <button type="button" id="citas">CITAS</button>
            #if($correo=="siari_1905@hotmail.com" || $correo=="esbeydi@correo.com")
                <button type="button" id="pacientes">PACIENTES</button>
            #end
            <button type="button" id="salir">SALIR</button>
        </div>
        <div id="direccion">
            Bosques de África # 144-A<br>
            Col. Bosques de Aragón<br>
            Nezahualcóyotl, Estado de México
        </div>
        <script src='public/JS/Main.js'></script>
    </body>
</html>